build
bin
*.idea
*.iml
lib/
vendor/
.bundle/
build/
out/
.idea
.gradle/
.gradle
*.iml
*.class
*.ipr
*.iws
*.gem
*.gemspec
.settings/
.project/
Gemfile*
settings.gradle
gradle.properties
.project
.classpath
.settings
*.zip
*.class
test.properties